{% extends "base.html" %}
<!-- 
{#{% block content %}#}
{#    #}
{#<ul>#}
{#    {% for todo in the_data %}#}
{#        <div class="row">#}
{#            <div class="col-md-4">#}
{#                <p>#}
{#                <input type="checkbox">{{ todo.description }}#}
{#                </p>#}
{#            </div>#}
{#        </div>#}
{#    {% endfor %}#}
{#</ul>#}
{#    <a class="btn btn-primary" href="{% url "save_changes" %}">Save Changes</a>#}
{#{%  endblock content %}#} -->

{% block content %}
    <form role="form" method="post" action="{% url 'save_changes' %}">
        <legend>To Do List</legend>
        {% csrf_token %}
        <ul>
        {% for todo in the_data %}
        <div class="row">
            <div class="col-md-4">
                <p>
                <br>
                Task Name: <input type="text" name="textbox" value="{{ todo.description }}">
                <br>
                Check if done: <input type="checkbox" name="checked" value="{{ todo.id }}">
                <br>
                Owner: {{ todo.owner }}
                <br>
                Created at: {{ todo.created_at }}
                <br>
                Due at: <input id="id_assigned_at" type="text" name="textbox" value="{{ todo.assigned_at }}">
                <br>
                </p>
            </div>
        </div>
        {% endfor %}
    </ul>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
    </form>
{% endblock %}