{% extends "base.html" %}

{% block content %}
    <form role="form" method="post" action="{% url 'save_changes' %}">
        <legend>To Do List</legend>
        {% csrf_token %}

        {% for todo in the_data %}
            <div class="form-group">
                Task Name: <input type="text" name="textbox" value="{{ todo.description }}">
            </div>
            <div class="form-group">
                Due at: <input id="id_assigned_at" type="text" name="textbox" value="{{ todo.assigned_at }}">
            </div>
            <div class="form-group">
                    Check if done: <input type="checkbox" name="checked" value="{{ todo.id }}">
            </div>
        {% endfor %}

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
    </form>
{% endblock %}
