{% extends "base.html" %}

{% block content %}
    <form method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
<div class="fieldWrapper">
    {{ form.description.errors }}
    <label for="{{ form.description.id_for_label }}">Description:</label>
    {{ form.description }}
</div>
<div class="fieldWrapper">
    {{ form.assigned_at.errors }}
    <label for="{{ form.assigned_at.id_for_label }}">Assigned at:</label>
    {{ form.assigned_at }}
</div>
    <button type="submit" class=" btn btn-info">Save</button>
</form>
{% endblock %}
